<div *ngIf="spinner" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
<div class="father">
    <div class="logoTitle">
        <img class="logo" src="../../../assets/LOGO SUMSA.jpg" alt="">
        <h1 class="title">HOJA DE SALIDA</h1>
    </div>

    <form class="form" (ngSubmit)="createSheet()" [formGroup]="myForm">    
    
        <div class="info">
            <div class="inputs">
                <span class="date">Fecha: {{getDate()}}</span>
                <div class="driver">
                    <mat-form-field class="form-field">
                        <mat-label>Chofer</mat-label>
                        <mat-select class="select" formControlName="driver" required>
                            <mat-option *ngFor="let driver of drivers" [value]="driver">{{driver}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="electrician">
                    <mat-form-field class="form-field">
                        <mat-label>Electricista</mat-label>
                        <mat-select class="select" formControlName="electrician" required>
                            <mat-option *ngFor="let electrician of electricians" [value]="electrician">{{electrician}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="truck">
                    <mat-form-field class="form-field">
                        <mat-label>Camion</mat-label>
                        <mat-select class="select" formControlName="truck" required>
                            <mat-option *ngFor="let truck of trucks" [value]="truck">{{truck}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="inCharge">
                    <mat-form-field class="form-field">
                        <mat-label>Encargado</mat-label>
                        <mat-select class="select" formControlName="inCharge" required>
                            <mat-option *ngFor="let inCharge of inCharges" [value]="inCharge">{{inCharge}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="workAndLocation">
                    <mat-form-field class="form-field">
                        <mat-label>Destino</mat-label>
                        <mat-select class="select" formControlName="departament" required>
                            <mat-option *ngFor="let departament of departaments" [value]="departament">{{departament}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>    
            <div class="materialsRemoved">
                <h2>MATERIALES/LUMINARIAS RETIRADOS</h2>
                <ckeditor class="editor" [config]="{ forcePasteAsPlainText: false,pasteFromWordRemoveStyles: false }" formControlName="removedMaterials" #ckeditor required></ckeditor>
            </div>
            <div class="example-button-row buttonSubmit">    
                    <button class="" mat-raised-button color="primary" type="submit">Guardar</button> 
            </div>
        </div>
    </form>
    <div *ngIf="activar" class="pdf" id="content">
        <img class="logoPDF" src="../../../assets/LOGO SUMSA.jpg" alt="">
        <span>Fecha: {{getDate()}}</span>
        <span>Chofer: {{myForm.get('driver').value}}</span>
        <span>Electricista: {{myForm.get('electrician').value}}</span>
        <span>Camion: {{myForm.get('truck').value}}</span>
        <span>Encargado: {{myForm.get('inCharge').value}}</span>
        <span>Destino:{{myForm.get('departament').value}}</span>
        <h3>MATERIALES/LUMINARIAS DEVUELTOS</h3>
        <div [innerHTML]="renderizado"></div>
    </div>
</div>


